<!DOCTYPE html>
<html>
  <head>
    <title>Text Summarizer</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <h1>Text Summarizer</h1>
    <form method="POST">
      <div class="settings-container">
        <div class="sentence">
          <div class="sentence_info">
            <label for="sentence_count">Sentence Length:</label>
            <span id="sentence_count_display">5</span>
          </div>
          <input
            type="range"
            id="sentence_count"
            name="sentence_count"
            min="1"
            max="10"
            value="5"
            class="slider"
          />
        </div>
        <input class="submit-button" type="submit" value="Summarize" />
      </div>
      <div class="container">
        <div class="input_container">
          <div class="column">
            <h2 class="summarize-type">Input</h2>
            <textarea
              name="original_text"
              rows="10"
              cols="40"
              placeholder="Paste your text here..."
            >
{{original_text}}</textarea
            >
          </div>
        </div>
        <div class="output_container">
          <!-- TensorFlow Output -->
          <div class="column">
            <h2 class="summarize-type">TensorFlow Output</h2>
            <textarea name="summarized_text" rows="6" cols="40" readonly>
{{ t5_summarized_text }}</textarea
            >
            <h3>Keywords</h3>
            <p>{{ t5_keywords|join(', ') }}</p>
          </div>
          <!-- BART Output -->
          <div class="column">
            <h2 class="summarize-type">BART Output</h2>
            <textarea name="bart_summarized_text" rows="6" cols="40" readonly>
{{ bart_summarized_text }}</textarea
            >
            <h3>Keywords</h3>
            <p>{{ bart_keywords|join(', ') }}</p>
          </div>
          <!-- TextRank Output -->
          <div class="column">
            <h2 class="summarize-type">TextRank Output</h2>
            <textarea
              name="textrank_summarized_text"
              rows="6"
              cols="40"
              readonly
            >
{{ textrank_summarized_text }}</textarea
            >
            <h3>Keywords</h3>
            <p>{{ textrank_keywords|join(', ') }}</p>
          </div>
          <!-- Pegasus Output -->
          <div class="column">
            <h2 class="summarize-type">Pegasus Output</h2>
            <textarea
              name="pegasus_summarized_text"
              rows="6"
              cols="40"
              readonly
            >
{{ pegasus_summarized_text }}</textarea
            >
            <h3>Keywords</h3>
            <p>{{ pegasus_keywords|join(', ') }}</p>
          </div>
        </div>
        <div class="rouge-container">
          <h2 class="rouge-title">Rouge Scores</h2>
          <div class="scores">
            {% if t5_rouge_scores %}
            <h4>{{ t5_rouge_scores }}</h4>
            {% endif %} {% if bart_rouge_scores %}
            <h4>{{ bart_rouge_scores }}</h4>
            {% endif %} {% if textrank_rouge_scores %}
            <h4>{{ textrank_rouge_scores }}</h4>
            {% endif %} {% if pegasus_rouge_scores %}
            <h4>{{ pegasus_rouge_scores }}</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js')}}"
    ></script>
  </body>
</html>
